@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<table class="table table-bordered">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
    </tr>

    <tr>
        <td>@ViewData["ID"]</td>
        <td>@ViewData["Name"]</td>
        <td>@ViewData["Description"]</td>
        <td>@ViewData["Price"]</td>
    </tr>
</table>